/* COMMON STYLE  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.btn-primary {
  background-color: #dd2953;
  padding: 8px 30px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  color: #FFF;
  cursor: pointer;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #801e35;
}

.section-title {
  font-size: 28px;
  text-align: center;
  font-weight: 500;

}

.section-description {
  font-size: 16px;
  text-align: center;
  margin: 10px 350px;
}

/* HEADER SECTION  */
.header-section {
  background-color: #FCEEF1;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1c7d1;
  padding: 10px 0;
}

.logo h2 {
  font-size: 28px;
  font-weight: 600;
}

.logo span {
  color: #dd2953;

}

.menu-bar {
  display: flex;

}

.menu-bar li {
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.menu-bar li:hover {
  color: #dd2953;
}

/* BANNER SECTION  */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}

.banner-title {
  font-size: 36px;
}

.banner-description {
  font-size: 18px;
  margin: 20px 0;
}

.banner-img img {
  height: 600px;
}

/* MAIN SECTION  */
/* FEATURED SECTION  */
.featured-section {
  margin: 30px 0;
}

.featured-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 150px;
  gap: 15px;
}

.featured-img {
  width: 364px;
  height: 400px;
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.featured-img-2{
  background-color: #0597a026;
}
.featured-img-3{
  background-color: #477d1126;
}

.featured-img img {
  height: 350px;
  position: absolute;
  bottom: 0;
}

.flower-name {
  text-align: center;
  margin: 10px 0;
  text-decoration: underline;
}

/* FOOTER SECTION  */